
.col-sm-2 {
  background-color: blue;
}

#logo {
  width : 65%;
  height : auto;
  margin-top : 0.025em;
  margin-left : 1.75em;
  margin-top : .75em;
}

body {
  background-color: #ffffff;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.fa-question {
  font-size : 0.75em;
  vertical-align : text-top -1%;
}

.navbar-custom {
  background-color: #ff6700;
  margin-bottom: 0;
  border-radius: 0;
  padding-right: 2em;
}

.navbar-custom .nav-item .nav-link {
  font-weight : bold;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav a{
  color :  #ffffff;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  font-size : 1.1em;
  background-color: #ff6700;
}

#sidebar {
  background-color: #ebebeb;
  padding: 4.5em 0.75em 0.75em;
}

.sidenav .nav-item .nav-link {
  color : #4b4b57;
  font-size : 1.2em;
}

.sidenav .nav-item.active .nav-link {
  color : #4b4b57;
  background-color : #ffffff;
}

.sidenav .nav-item .nav-link:hover {
  color : #ff6700;
  background-color : #ffffff;
  font-size : 1.1em;
}

.sidenav .nav-item.big-side-button .nav-link,
.sidenav .nav-item.big-side-button .nav-link:visited  {
  color : #ff6700;
  background-color : #ffffff;
  text-align : center;
  font-size : 100%;
  font-weight : bold;
  border-color : #ff6700;
  border-width : .05em;
  border-style : solid;
}

.sidenav .nav-item.big-side-button .nav-link:hover {
  color : #ffffff;
  background-color : #ff6700;
}

#sidebar-prof-pic {
  width : 90%;
  margin : auto;
  padding-left: 1em;
}





#pagecontents {
  margin-top : 3em;
  width: inherit;
}

#pagecontents h1 {
  font-weight: 300;
  font-size: 4em;
  color : #ff6700;
}

#pagecontents h3 {
  font-weight : bold;
  color : #ff6700;
}

#pagecontents p.page-subtitle{
  font-size : 1.15em;
  padding-top : -5em;
  color : #6f7380;
}

#pagecontents .navy {
  color : #081233;
}

#pagecontents h2.navy {
  font-size: 3em;
}

#pagecontents h3.navy {
  font-weight: bold;
  font-size: 3.5em;
}

#pagecontents .arial {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.announcebox {
  background-color: #f5edf0;
  padding : 1em;
  width: 100%;
  height: 200px;
  position: relative;
  padding:10px;
}


.bubble {
  position: relative;
  float: left;
  max-width: 500px;
  height: auto;
  margin-left:500px;
  padding: 2em;
  /*width: 295px;
  height: 130px;
  padding: 5px;*/
  background: #FFFFFF;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  margin-left:2em;
}

.bubble.orange {
  background: #ff6700;
  color : #ffffff;
}

.bubble:after {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 9px 21px 9px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: -1;
  margin-top: -9px;
  left: -6px;
  top: 78%;
}

.img .botcircle {
  width: 20px;
}

/*Set height of the grid so .sidenav can be 100% (adjust as needed)
SCREEN SIZE GUIDE
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
.row.content {height: 450px}
*/
