
#logo {
  width : 65%;
  height : auto;
  margin-top : 0.025em;
  margin-left : 1.75em;
  margin-top : .75em;
}

.orange {
  color: #ff6700;
}

body {
  background-color: #ffffff;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

/*These help keep sidebar full height
*/
html, body {
    min-height: 100%
}
.wrap {
    height: 100%
}

.fa-question {
  font-size : 0.75em;
  vertical-align : text-top -1%;
}

.navbar-custom {
  background-color: #ff6700;
  margin-bottom: 0;
  border-radius: 0;
  padding-right: 2em;
}

.navbar-custom .nav-item .nav-link {
  font-weight : bold;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav a{
  color :  #ffffff;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  font-size : 1.1em;
  background-color: #ff6700;
}

#sidebar {
  background-color: #eeeeee;
  padding: 4.5em 0.75em 0.75em;
  margin-bottom: -10em;
  min-height: 100% !important;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  #sidebar .sidebar_content {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
  }
}

.sidenav .nav-item .nav-link {
  color : #4b4b57;
  font-size : 1.2em;
}

.sidenav .nav-item.active .nav-link {
  color : #4b4b57;
  background-color : #ffffff;
}

.sidenav .nav-item .nav-link:hover {
  color : #ff6700;
  background-color : #ffffff;
  font-size : 1.1em;
}

.sidenav .nav-item.big-side-button .nav-link,
.sidenav .nav-item.big-side-button .nav-link:visited  {
  color : #ff6700;
  background-color : #ffffff;
  text-align : center;
  font-size : 1.15em;
  font-weight : bold;
  border-color : #ff6700;
  border-width : .05em;
  border-style : solid;
}

.sidenav .nav-item.big-side-button .nav-link:hover {
  color : #ffffff;
  background-color : #ff6700;
}

#sidebar-prof-pic {
  width : 90%;
  margin : auto;
  padding-left: 1em;
}





#pagecontents {
  margin-top : 3em;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  max-width: 100%;
  min-width: 40%;
  overflow: hidden;
}

#pagecontents h1 {
  font-weight: 300;
  font-size: 4em;
  color : #ff6700;
}

#pagecontents h1.big {
  font-size: 5em;
  max-width: 80%;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
}

#pagecontents h3 {
  font-weight : bold;
  color : #ff6700;
}

#pagecontents p.page-subtitle{
  font-size : 1.15em;
  padding-top : -5em;
  color : #6f7380;
}

#pagecontents .navy {
  color : #2b3054;
  /*old = #081233 */
}

#pagecontents h2.navy {
  font-size: 3em;
}

#pagecontents h3.navy {
  font-weight: bold;
  font-size: 3.5em;
  margin-right: 2em;
}

#pagecontents h4.navy {
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  margin-left: -1em;
}

#pagecontents .arial {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.announcebox {
  background-color: #f5edf0;
  padding : 1em;
  width: 100%;
  height: 200px;
  position: relative;
  padding:10px;
}


.bubble {
  position: relative;
  float: left;
  max-width: 500px;
  height: auto;
  margin-left:500px;
  padding: 2em;
  /*width: 295px;
  height: 130px;
  padding: 5px;*/
  background: #FFFFFF;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  margin-left:2em;
}

.bubble.orange {
  background: #ff6700;
  color : #ffffff;
}

.bubble:after {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 9px 21px 9px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: -1;
  margin-top: -9px;
  left: -6px;
  top: 78%;
}

.nag_list {
  margin-left: 1em;
  padding-left: 16em;
  padding-right: 2em;
  margin-left: 1em;
  margin-right: 6em;
  margin-top: -3em;
  font-size: 1.5em;
}

.nag_list_img{
  margin-left: 8em;
  margin-right: 10em;
  margin-top: -3em;
  font-size: 1.25em;
  padding-left: 1em;
}

.nag_list_text {
  margin-left: 6em;
  margin-right: 10em;
  margin-top: -3em;
  font-size: 1.25em;
}

.nag_list_button {
  float:right;
  margin-right: 2em;
  margin-top: -3em;
}

.nag_list_category {
  margin-right: 2.5em;
  margin-top: -1em;
  float: right;
}

.nag_button {
  text-align: center;
  font-size: 2.5em;
  margin: 0.5em;
}

.category_list {
  padding-left: 1em;
  padding-right: 1em;
  align-content: center;
  width: 75%;
  align-self: center;
  margin-left: 7%;
  margin-right: auto;
}

.category_list h1 {
  padding-left: 0em;
}

.category_list_item {
  padding: 1.5em;
  margin-bottom: 2em;
  border-width: 0.2em;
  border-color: #c6c6c6;
  border-radius: 5px;
  border-style: solid;
}

a.category_list_item {
  align-content: center;
  padding: 1em;
}

a.category_list_item:hover {
  background-color: blue;
}

.category_list_item_text {
  color: #55557d;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.category_list_sub_button {
  margin-left: 2.25em;
  margin-top: 1em;
  margin-bottom: -1.5em;
}

.category_list_image {
  width: 140px;
  height: 140px;
  padding: 2px;
  border-width: 0.2em;
  border-color: #c6c6c6;
  border-radius: 5px;
  border-style: solid;

}

.img .botcircle {
  width: 20px;
}

.text-lowercase {
  text-transform: lowercase;
}




/*Set height of the grid so .sidenav can be 100% (adjust as needed)
SCREEN SIZE GUIDE
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
.row.content {height: 450px}
*/
