<!DOCTYPE html>
{% load staticfiles %}


<html>
  <head>
    <!-- SETTINGS STUFF -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/base_styles.css" %}">

    <!-- IMPORT HOSTED BOOTSTRAP FROM MAXCDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- TAB TITLE PASSED CONTEXTUALLY -->
    <title>nag.me -
      {% block title_block %}
        welcome page
      {% endblock %}
      <!-- defaults to suffix welcome page -->
    </title>
  </head>



  <body>
    <!-- NOTES/THOUGHTS -->
    <!-- context_dict =
    { topbar: {leftbutton: {label, link, icon}, rightbutton: {label, link, icon}
      sidebar: {}
    }-->
    <!-- USING FONT-AWESOME ICONS
        <i class="fas fa-igloo"></i>
        -  free prefixes are usually fas=solid and sometimes far=light/outling and fab=brand
        -  naming convention : can use i or span element, prefix for style then fa-iconname
        -  icons automatically inherit font color and weight of text where inserted
    -->







                      <!--      TOP BAR     -->

    <div class="container-fluid">
      <nav id="topbar" class="navbar navbar-fixed-top navbar-custom">

<!-- Top bar logo -->
        <div class="navbar-header">
          <a href="{% url 'welcome' %}" class="navbar-left">
            <img id="logo"src="{% static "images/Nagme_Logo_Tiny.png" %}">
          </a>
        </div>

<!-- Top bar left button -->
        <div class="nav navbar-nav pull-right">
          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                  <a href=
                        "{% block Lbtnlink_block %}
                        {% endblock %}" class="nav-link" >
                       <i class=
                        "{% block Lbtnicon_block %}
                        {% endblock %}">
                      </i>
                        {% block Lbtnlabel_block %}
                        {% endblock %}
                  </a>
              </li>

<!-- Top bar right button -->
              <li class="nav-item">
                  <a href=
                        "{% block Rbtnlink_block %}
                            {% url 'logout' %}
                        {% endblock %}" class="nav-link" >
                       <i class=
                        "{% block Rbtnicon_block %}
                            fas fa-sign-out-alt
                        {% endblock %}">
                      </i>
                        {% block Rbtnlabel_block %}
                             Log Out
                        {% endblock %}
                  </a>
              </li>
          </ul>
        </div>

      </nav>
    </div>

<!-- SIDE BAR  -->
    <div class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-sm-2 hidden
          {% block sidebar_visibility_block %}
              -xs sidenav
          {% endblock %}
        ">
        <!-- (delete text in the sidebar_visibility_block to hide sidebar) -->

<!-- sidebar_block -->
          {% block sidebar_block %}
              <!--<img id="sidebar-prof-pic" src="{% static "/images/blank user pic.jpg"%}" alt="blank user pic">
              <p class="text-center text-muted">username</p> -->

              <ul class="nav nav-pills nav-stacked">
                <li class="nav-item active"><a class="nav-link" href="#section1">Homepage</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#section2">Manage account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#section3">Manage my.nags</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#section3">? Write nags</a>
                </li>
                <li class="nav-item text-center big-side-button">
                  <a class="nav-link" href="#section3">Explore<br>Nags</a>
                </li>
                <li class="nav-item big-side-button">
                  <a class="nav-link" href="#section3" class="text-dark">Explore<br>Categories</a>
                </li>
              </ul><br>
          {% endblock %}
        </div>




<!-- PAGE BODY -->
        <div id="pagecontents" class="col-sm-10">
          <div class="container-fluid">
              <!--<div class="row">
                <h1>Big Orange Page Title is h1</h1>
                <p class="page-subtitle">Page subtitle is p.page-subtitle</p>
              </div>

              <div class="row">
                <div class="announcebox">
                  <div class="bubble">
                    <h3>Nag of the day</h3>
                    <p>llakjf;alkjf;lsakjf ;dsalkfj;salkfj;salkfj;alkfj;akj</p>
                  </div>
                </div>
              </div>

              <div class="row">
                div
              </div>-->

          </div>
        </div>


<!-- Closing side bar after page body inescapable -->
      </div>  <!-- ends row of sidebar -->
    </div>  <!-- ends container-fluid of sidebar -->



  </body>
</html>
