<!DOCTYPE html>
{% load staticfiles %}


<html>
  <head>
    <!-- SETTINGS STUFF -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/base_styles.css" %}">

    <!-- IMPORT HOSTED BOOTSTRAP FROM MAXCDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- TAB TITLE PASSED CONTEXTUALLY -->
    <title>NagMe -
      {% block title_block %}
        Welcome
      {% endblock %}
    </title>
  </head>



  <body>


<!-- TOP BAR  -->

    <div class="container-fluid">
      <nav id="topbar" class="navbar navbar-fixed-top navbar-custom">


<!-- Top bar logo -->
        <div class="navbar-header" style="position:absolute;">
          {% block logo_link %}<a href="{% url 'user_home' %}" class="navbar-left">{% endblock %}
            <img id="logo"src="{% static "images/Nagme_Logo_Tiny.png" %}"/>
          </a>
        </div>

        <div class="nav navbar-nav pull-right">
          <ul class="nav navbar-nav navbar-right">

<!-- Top bar left button -->
              <li class="nav-item">
                  {% block leftbutton_block %}
                  {% endblock %}
              </li>

<!-- Top bar right button -->
              <li class="nav-item">
                  {% block rightbutton_block %}
                      {% if user.is_authenticated %}
                          <a href="{% url 'log_out' %}" class="nav-link" >
                            <i class="fas fa-sign-out-alt"></i>
                              Log Out
                          </a>
                      {% endif %}
                  {% endblock %}
              </li>
          </ul>

        </div>

      </nav>
    </div>



<!-- SIDE BAR  -->
    <div class="container-fluid">
    {% block sidebar_block %}
      <div id="siderow" class="row">
        <div id="sidebar" data-spy="affix" class="col-sm-2 hidden-xs sidenav fixed-left">
            {% block user_image %}{% endblock %}
              <ul class="nav nav-pills nav-stacked fixed-left">
                <li class="nav-item text-center big-side-button">
                    <a class="nav-link" href="{% url 'user_home' %}">Homepage</a></li>
                <li class="nav-item text-center big-side-button">
                    <a class="nav-link" href="">Manage account</a>
                  </li>
                  <li class="nav-item text-center big-side-button">
                    <a class="nav-link" href="{% url 'subscribed_categories' %}">Manage subscribed categories</a>
                  </li>
                  {%  if user.is_author %}
                  <li class="nav-item text-center big-side-button">
                        <a class="nav-link" href="{% url 'add_nag' %}">Write a nag</a>
                  </li>
                  {% endif %}
                  <li class="nav-item text-center big-side-button">
                    <a class="nav-link" href="{% url 'nags_time' %}">Explore recent Nags</a>
                  </li>
                    <li class="nav-item text-center big-side-button">
                    <a class="nav-link" href="{% url 'nags_likes' %}">Explore most liked Nags</a>
                  </li>
                  <li class="nav-item text-center big-side-button">
                    <a class="nav-link" href="{% url 'categories' %}" class="text-dark">Explore Categories</a>
                  </li>
                  <li class="nav-item text-centre big-side-button">
                    <a class="nav-link" href="{% url 'support' %}" class="text-dark"> <i class="far fa-question-circle"></i>Contact Us</a>
                  </li>
              </ul><br>
        </div>
      {% endblock %}

<!-- PAGE BODY -->
        <div id="pagecontents" class="col-sm-10">
                {% block body_block %}
                {% endblock %}
        </div>






      </div>  <!-- ends row of sidebar -->
    </div>  <!-- ends container-fluid of sidebar -->

  </body>
</html>
