<!DOCTYPE html>
{% load staticfiles %}


<html>
  <head>
    <!-- SETTINGS STUFF -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "/css/base_styles.css" %}">

    <!-- IMPORT HOSTED BOOTSTRAP FROM MAXCDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- TAB TITLE PASSED CONTEXTUALLY -->
    <title>nag.me -
      {% block title_block %}
        welcome page
      {% endblock %}
      <!-- defaults to suffix welcome page -->
    </title>
  </head>



  <body>


<!-- TOP BAR  -->

    <div class="container-fluid">
      <nav id="topbar" class="navbar navbar-fixed-top navbar-custom">


<!-- Top bar logo -->
        <div class="navbar-header">
          <a href="{% url 'welcome' %}" class="navbar-left">
            <img id="logo"src="{% static "images/Nagme_Logo_Tiny.png" %}"/>
          </a>
        </div>

        <div class="nav navbar-nav pull-right">
          <ul class="nav navbar-nav navbar-right">

<!-- Top bar left button -->
              <li class="nav-item">
                  {% block leftbutton_block %}
                  <a href="#" class="nav-link" >
                        <i class=""></i>
                  </a>
                  {% endblock %}
              </li>

<!-- Top bar right button -->
              <li class="nav-item">
                  {% block rightbutton_block %}
                  <a href="" class="nav-link" >
                       <i class=""></i>
                  </a>
                  {% endblock %}
              </li>
          </ul>

        </div>

      </nav>
    </div>



<!-- SIDE BAR  -->
    <div class="container-fluid">
      <div id="siderow" class="row">
        {% block sidebar_width_block %}
        <div id="sidebar" class="col-sm-2 hidden-xs sidenav">
        {% endblock %}

          {% block sidebar_block %}

              <ul class="nav nav-pills nav-stacked">
                <li class="nav-item active"><a class="nav-link" href="#section1">Homepage</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#section2">Manage account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#section3">Manage my.nags</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#section3">? Write nags</a>
                </li>
                <li class="nav-item text-center big-side-button">
                  <a class="nav-link" href="#section3">Explore<br>Nags</a>
                </li>
                <li class="nav-item big-side-button">
                  <a class="nav-link" href="#section3" class="text-dark">Explore<br>Categories</a>
                </li>
                <li class="nav-item text-left">
                  <a class="nav-link" href="#section3"> <i class="far fa-question-circle"></i>Contact Us</a>
                </li>
              </ul><br>
          {% endblock %}
        </div>

<!-- PAGE BODY -->
        {% block body_width_block %}
        <div id="pagecontents" class="col-sm-8">
        {% endblock %}

                {% block body_block %}
                {% endblock %}
        </div>






      </div>  <!-- ends row of sidebar -->
    </div>  <!-- ends container-fluid of sidebar -->

  </body>
</html>
