<!DOCTYPE html>
{% load _nagme_template_tags %}
{% load staticfiles %}

<html>
  <head>
    <!-- TAB TITLE PASSED CONTEXTUALLY -->
    <title>nag.me -
      {% block title_block %}
        welcome page
      {% endblock %}
      <!-- defaults to suffix welcome page -->
    </title>

    <!-- SETTINGS STUFF -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="base_styles.css">

    <!-- IMPORT HOSTED BOOTSTRAP FROM MAXCDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>



  <body>
    <!-- NOTES/THOUGHTS -->
    <!-- context dict = {topbar: {leftbutton_label, leftbutton_link, rightbutton_label, rightbutton_link}, sidebar: ...} -->
    <!-- use a url context so that urls can be refered to, does this need an app? -->
    <!-- ><span class="glyphicon glyphicon-user"></span> -->
    <!-- ><span class="glyphicon glyphicon-login"></span> -->
    <!-- topbar["leftbutton_label"] , topbar["rightbutton_label"], sidebar["username"] -->



    <!-- NAVBAR STARTS HERE -->


    <div class="container-fluid">
      <nav id="topbar" class="navbar navbar-fixed-top navbar-custom">

        <div class="navbar-header">
          <a class="navbar-brand" href="#"><strong>Nag.Me</strong></a>
        </div>

        <div class="nav navbar-nav pull-right">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a href="{{ topbar["leftbutton_link"] }} class="nav-link" "> Left Label</a>
            </li>
            <li class="nav-item">
              <a href="{{ topbar["rightbutton_link"] }} class="nav-link" ">
                <span class="glyphicon glyphicon-log-in"></span> Right Label</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>





    <!-- PAGE STARTS HERE -->

    <div class="container-fluid">
      <div class="row">


        <div id="sidebar" class="col-sm-2 hidden-xs sidenav">
          <img id="sidebar-prof-pic" src="blank user pic.jpg" alt="blank user pic">
          <p class="text-center text-muted">username</p>

          <ul class="nav nav-pills nav-stacked">
            <li class="nav-item active"><a class="nav-link" href="#section1">Homepage</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Manage account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">Manage my.nags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">? Write nags</a>
            </li>
            <li class="nav-item text-center big-side-button">
              <a class="nav-link" href="#section3">Explore<br>Nags</a>
            </li>
            <li class="nav-item big-side-button">
              <a class="nav-link" href="#section3" class="text-dark">Explore<br>Categories</a>
            </li>
          </ul><br>


        </div>


        <div id="pagecontents" class="col-sm-10">

          <div class="container-fluid">
            <div class="row">
              <h1>Big Orange Page Title is h1</h1>
              <p class="page-subtitle">Page subtitle is p.page-subtitle</p>
            </div>

            <div class="row">
              <div class="announcebox">
                <div class="bubble">
                  <h3>Nag of the day</h3>
                  <p>llakjf;alkjf;lsakjf ;dsalkfj;salkfj;salkfj;alkfj;akj</p>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>

  </body>

</html>
