{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Categories
{% endblock %}


{% block body_block %}
	<div class="container">
    <div class="row">
      <!-- Three columns of text below the carousel -->
        {% if categories %}
              <div class="row">
								<h1 class="big">Explore Categories</h1>
									<div class="category_list">
										{% for category in categories %}
													<div class="col-lg-3 category_list item">
														<div class="category_list_item">

																	<a href="{% url 'category' category.slug %}" class="">
																		<div class="category_list_item_text text-center">
																			{{ category.name }}
																		</div>
																		<img src="{{ MEDIA_URL }}{{ category.image }}" width="140" height="140" class="category_list_image">
																	</a>

																	<p class="category_list_sub_button">
																			<button type="button" class="btn btn-light btn-sm">Subscribe</button>
																			<!--
																			<button type="button" class="btn btn-success btn-sm">Subscribed</button

																			if category.subscribers == user ??
																			if category in subbed ??

																			-->
																	</p>
																	<br>

														</div>


													</div><!-- /.col-lg-4 -->
										{% endfor %}
									</div>


              </div><!-- /.row -->
        {% else %}
            <strong>No categories.</strong>
        {% endif %}
    </div>
  </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
