{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Nags
{% endblock %}


{% block body_block %}
	<div style="margin-left: 5%">
			<h1 >{{ nag_page_title }}</h1>
			{% if nags %}
					{% for nag in nags %}
										<hr>
										<img src="{% static 'images/Mombot_pale_circle_facing_right_tiny.png' %}" alt="mom.bot icon">


										<i class="fas fa-quote-left" style="margin-left: 3em"></i>
											{{ nag.text }}
										<i class="fas fa-quote-right"></i>

										<br><br>
										<p style="margin-left: 8.5em">Categories:
										<a href="{% url 'category' nag.category.slug %}"
											class="badge badge-secondary">
											#{{ nag.category }}
										</a>
										</p>

										<!-- need to change this to only show one or other -->
										<p>
										<button type="button" class="btn btn-default btn-sm" style="float:center;">
												<span class="glyphicon glyphicon-thumbs-up"></span> Like
										</button>
										<button type="button" class="btn btn-success btn-sm" style="float:center;">
										 <span class="glyphicon glyphicon-thumbs-up"></span> Liked
										 </button>
										</p>

		      {% endfor %}
			{% else %}
					<strong>No nags.</strong>
			{% endif %}
  </div>
{% endblock %}
