{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Subscribed nags
{% endblock %}


{% block body_block %}
	<div class="container marketing" style="margin-top:10px;max-width:60%">

      <!-- Three columns of text below the carousel -->
        {% if categories %}
            <ul>
                {% for cat in categories %}
                       <p><a href="{% url 'category' cat.slug %}">{{ cat.name }}</a>  <button type="button" class="btn btn-success btn-sm" style="float:right;">Unsubscribe</button></p>
                  {% endfor %}
            </ul>
        {% else %}
            <strong>No subscribed nags. Go <a href="{% url 'nags' %}">here</a> to subscribe.</strong>
        {% endif %}
    </div>
{% endblock %}