
{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block leftbutton_block %}
{% endblock %}

{% block user_image %}
    {% if userprofile.picture %}
    <img id="sidebar-prof-pic" src="{{ MEDIA_URL }}{{ userprofile.picture }}" alt=""/>
    {% else %}
    <img id="sidebar-prof-pic" src="{% static 'images/blank user pic.jpg' %}"/>
    {% endif %}
    <p class="text-center text-muted">{{ user.username }}</p>
{% endblock %}

{% block sidebar_height_block %}
    <!-- this makes sure that sidebar doesn't get taller than page when pic
        is added -->
{% endblock %}

{% block body_block %}
    <h1>Welcome {{ user }}!</h1>
    <p><a class="btn btn-outline-primary" href="#" role="button">Click here</a> to be sent the top nag from each of your
        subscribed categories</p>
    <div class="announcebox">
        <img src="{% static "/images/Mombot.png" %}" style="height: 200px; position:relative; float:left;"/>
      <div class="bubble text-center">
        <h4 style="color: #081233"><strong class="text.center">Nag of the Day</strong></h4>
        <p class="text-center">{{ nag_of_the_day.text }}</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <br>
        <hr>
        <h4 class="navy">
          <strong>Today's Hottest Categories</strong>
        </h4>
        <br>
        <!-- Three columns of text below the carousel -->
          {% if categories %}
                <div class="row">
  									<div class="category_list">
  										{% for category in categories %}
  													<div class="col-sm-3 category_list item">
  														<div class="category_list_item">

  																	<a href="{% url 'category' category.slug %}" class="">
  																		<div class="category_list_item_text text-center">
  																			{{ category.name }}
  																		</div>
  																		<img src="{{ MEDIA_URL }}{{ category.image }}" width="140" height="140" class="category_list_image">
  																	</a>

  																	<p class="category_list_sub_button">
  																			<button type="button" class="btn btn-light btn-sm">Subscribe</button>
  																			<!--
  																			<button type="button" class="btn btn-success btn-sm">Subscribed</button

  																			if category.subscribers == user ??
  																			if category in subbed ??

  																			-->
  																	</p>
  																	<br>

  														</div>


  													</div><!-- /.col-lg-4 -->
  										{% endfor %}
  									</div>


                </div><!-- /.row -->
          {% else %}
              <strong class="navy">No categories.</strong>
          {% endif %}
      </div>
    </div>

{% endblock %}
