
{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title_block %}
    Welcome
{% endblock %}

{% block logo_link %}
    {% url 'welcome' %}
{% endblock %}

{% block sidebar_block %}

{% endblock %}

{% block leftbutton_block %}
<a href="{% url 'registration' %}" class="nav-link" >
      <i class="fas fa-user-plus"></i>
      Sign Up
</a>
{% endblock %}

{% block rightbutton_block %}
<a href="{% url 'auth_login' %}" class="nav-link" >
      <i class="fas fa-sign-in-alt"></i>
      Log In
</a>
{% endblock %}


{% block pagebody_width_block %}
    <div id="pagecontents" class="col-sm-12 full_width"></div>
{% endblock %}

{% block body_block %}
<h1 class="text-center">Productivity made pushy...</h1>
<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <h2 class="navy text-center arial">Meet</h2>
      <h3 class="navy text-center arial">MomBot</h3>
      <h4 class="navy text-center arial">NagMe is a website to which students, young and old, can subscribe to be sent nagging messages from a robotic parent simulation program “MomBot”, to help them stay on task or get things done that they usually forget
</h4>
    </div>

    <div class="col-sm-4">
      <img class="botcircle" style="height:200px;float:right;" src="{% static 'images/Mombot_pale_circle_facing_left_small.png'%}" alt="mum.bot">
      <div class="bubble orange" style="float:left;">
        <h3 class="text-center" style="color:white;">Nag of the day:</h3><p class="text-center">{{ nag_of_the_day }}</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
